# Base de datos
POSTGRES_USER=bpuser
POSTGRES_PASSWORD=bppassword
POSTGRES_DB=bpdb

# RabbitMQ
RABBITMQ_USER=bpuser
RABBITMQ_PASSWORD=bppassword

# Puertos microservicios
MS_CLIENTES_PORT=8081
MS_CUENTAS_PORT=8082